<div class = "row">
    <center>
        {{!-- add row that dynamically changes to amount of playlists made through bootstrap --}}
        <h1>Playlists</h1>
        {{!-- make playlist  show up --}}
            
    </center>
</div>  