<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="views\css\main.css" />
</head>
<style>
  h1 {text-align: center; font-size: x-large; font: bold; color: white;}
</style>
<body>
<body class="is-preload">

		<-- Header -->
			<header id="header"></header>
				<a class="logo" href="index.html">PlaylistMaker
				</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="Login">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>PlayList</h1>
					<p>The Future of Music</p>
				</div>
			</section>

            <center>
                <h1>Rap Playlists</h1>
                <!-- get body from playlist.handlebars -->
            </center>
			
</body>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</html> -->