<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<style>
  h1 {text-align: center; font-size: x-large; font: bold; color: white;}
</style>
<body>
<body class="is-preload">

		<!-- Header -->
			<header id="header"></header>
				<a class="logo" href="index.html">PlaylistMaker
				</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="Login">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>PlayList</h1>
					<p>The Future of Music</p>
				</div>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>All The Genres You Need</h2>
						<p>Chose to make a new playlist, or view previous playlists made by other users!</p>
						<button class="uk-button uk-button-secondary uk-button-small">Make Account</button>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
								    <h3>Post Hardcore</h3>
								</header>
								<p>Playlists including favorites like Dance Gavin Dance, Pierce the Veil, Memphis May Fire, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\postHardCore.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Rap</h3>
								</header>
								<p>Playlists including classic artists including Kanye West, Mac Miller, Travis Scott, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\rap.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>UnderGround Hip-Hop</h3>
								</header>
								<p>Explore the unknown including HDMI, Pouya, Lil Peep, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\undergroundHipHop.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Indie</h3>
								</header>
								<p>Sit back and relax with artists like Rex Orange County, Oliver Tree, JAWNY, and More!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\indie.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Alternative</h3>
								</header>
								<p>Understand the meaning of music with artists like Gorillaz, Cage the Elephant, Montero, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\alternative.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Rock</h3>
								</header>
								<p>Rock out with classic artists like ACDC, Motley Crue, The Cult, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views/rock.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Electronic</h3>
								</header>
								<p>Figure out one of the newer sides of music including Grimes, little Draggon, Portishead, and more!</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\electronic.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Country</h3>
								</header>
								<p>Garbaage genre</p>
								<button class="uk-button uk-button-secondary uk-button-small" href="views\country.handlebars">View Playlists</button>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Make your own</h3>
								</header>
								<p>Make your own Playlist to hsow off your style and personality!</p>
								<button class="uk-button uk-button-secondary uk-button-small">View Playlists</button>
							</div>
						</section>
					</div>
				</div>
			</section>

		 
</body>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>