
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<style>
  /* h1 {text-align: center; font-size: x-large; font: bold; color: white;} */
</style>
<!-- <body style="background-color:#7375f8;"> -->
<body class="">
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-left">
	
			<ul class="uk-navbar-nav">
				<li class="uk-active"><a href="#">SongList</a></li>
				<li>
					<a href="#">Create Account</a>
					<div class="uk-navbar-dropdown ">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li class="uk-active"><a href="#">Active</a></li>
							<li><a href="#">Item</a></li>
							<li class="uk-nav-header">Header</li>
							<li><a href="#">Item</a></li>
							<li><a href="#">Item</a></li>
							<li class="uk-nav-divider"></li>
						</ul>
					</div>
				</li>
			</ul>
	
		</div>
		<div class="uk-navbar-right">
	
			<ul class="uk-navbar-nav">
				<li>
					<a href="#">LOGIN</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li class="uk-active"><a href="#">Active</a></li>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<h1 class="uk-heading-line uk-text-center"><span>SongList: The Future of Music</span></h1>

		<!-- Highlights -->
			<section class="wrapper">

			<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>Rap</h3>
						</header>
						<p>Playlists including classic artists including Kanye West, Mac Miller, Travis Scott, and more!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="rap">View Songs</a>
					</div>
    			</div>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>Rap</h3>
						</header>
						<p>Playlists including classic artists including Kanye West, Mac Miller, Travis Scott, and more!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="rap">View Songs</a>
					</div>
    			</div>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>UnderGround Hip-Hop</h3>
						</header>
						<p>Explore the unknown including HDMI, Pouya, Lil Peep, and more!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="undergroundHipHop">View Songs</a>
					</div>
    			</div>
			</div>

				
		

			<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>UnderGround Hip-Hop</h3>
						</header>
						<p>Explore the unknown including HDMI, Pouya, Lil Peep, and more!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="undergroundHipHop">View Songs</a>
					</div>
    			</div>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>Indie</h3>
						</header>
						<p>Sit back and relax with artists like Rex Orange County, Oliver Tree, JAWNY, and More!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="indie">View Songs</a>
					</div>
    			</div>
    			<div>
        			<div class="uk-card uk-card-default uk-card-body">
						<header>
							<h3>Alternative</h3>
						</header>
						<p>Understand the meaning of music with artists like Gorillaz, Cage the Elephant, Montero, and more!</p>
						<a class="uk-button uk-button-secondary uk-button-small" href="alternative">View Songs</a>
					</div>
    			</div>
			</div>



		<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    		<div>
        		<div class="uk-card uk-card-default uk-card-body">
					<header>
						<h3>Rock</h3>
					</header>
					<p>Rock out with classic artists like ACDC, Motley Crue, The Cult, and more!</p>
					<a class="uk-button uk-button-secondary uk-button-small" href="rock">View Songs</a>
				</div>
    		</div>
    		<div>
        		<div class="uk-card uk-card-default uk-card-body">
					<header>
						<h3>Electronic</h3>
					</header>
					<p>Figure out one of the newer sides of music including Grimes, little Draggon, Portishead, and more!</p>
					<a class="uk-button uk-button-secondary uk-button-small" href="electronic">View Playlists</a>
				</div>
    		</div>
		</div>

		 

		
</body>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js"></script>
</html>