<section id="postHardCore" class="container">
  <h1>All Rock Songs</h1>

  {{#each posts}}
  <div class="postHardCore">
    <ul>
    <li>Title: {{dataValues.title}}, Album: {{dataValues.album}}, Artist: {{dataValues.artist}}</li>
    </ul>
  </div>
  {{/each}}
</section>